{% extends 'base.html' %}

{% block title %}
Todo Lists
{% endblock title%}

{% block content %}
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>Update list</h1>
            <form method="post">
                {% comment %} <input type="text" name="name"> {% endcomment %}
                {% csrf_token %}
                {{ form.as_p }}
                <button>Update</button>
            </form>
        </div>
    </main>
{% endblock content %}
